<h2>Signup</h2>
<hr>
<form action="/signup" method="POST">
    <label>Username</label>
    <input type="text" name="username" />
    <label>Email</label>
    <input type="text" name="email" />
    <label>Password</label>
    <input type="password" name="password" />
    <button type="submit"> Create Account </button>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}